# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.poetry/

dist/
lib/
build/
coverage/
node_modules/
.turbo/
*.zip
*-*.log
javascript/*/public/workers/

.env.local
.env.development.local
.env.test.local
.env.production.local

.deploy-config/
